body,html, #root, #root > div {
	width: 100%;
	height: 100%;	
}
svg {
	margin: 0 auto;
}
.selected {
	fill: tomato;
}

.linkSelected {
	stroke: tomato;
}
.node {
	fill: #2e86de;
	stroke: #333;	
	stroke-width: 3px;
}
.node.selected {
	fill: #ee5253 !important;
}
.node.conected {
	fill: #ff9f43 !important;
}
#link-details {
	position: fixed;
	left: 0;
}
#node-details {
	position: fixed;
	left: 0;
	top: 60px;	
	height: 100%;	
}
#name, #campus {
	border: 1px solid #ddd;
	padding: 5px;
	background-color: white;
	font-size: 1.5em;
}
.hidden {
	display: none
}
.node.alegrete {
	fill: #01a3a4;
}
.node.uruguaiana {
	fill: #f368e0;
}
.node.bagé{
	fill: #0abde3;
}
.node.caçapava_do_sul {
	fill: #222f3e;
}
.node.dom_pedrito {
	fill: #341f97;
}
.node.itaqui {
	fill: #44bd32;
}
.node.sao_borja{
	fill: #2f3640;
}
.node.sao_gabriel {
	fill: #8c7ae6;
}
.node.jaguarao {
	fill: #e84393;
}
#researcher-resume {
	position: relative;
}
#researcher-resume{
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,.9);
	overflow-y: hidden;
	color: white;
	font-size: 1.5em;
}
.badge {
	margin: 5px;
}
g {
	cursor: pointer;

}
text {
	fill: white;
	font-size: 12px;
	text-transform: uppercase;
}
#tooltip-text {
	background: #555;
	border-radius: 8px;
	color: white;
	position: absolute;
	width: auto;
	padding: 10px;
	top: 0;
	left: 0;
}