body,html, #root, #root > div {
	width: 100%;
	height: 100%;	
}
svg {
	margin: 0 auto;
}
.selected {
	fill: tomato;
}

.linkSelected {
	stroke: tomato;
}
.node {
	fill: #2e86de;
	stroke: #333;	
	stroke-width: 1px;
}
.node.selected {
	fill: #ee5253 !important;
}
.node.conected {
	fill: #ff9f43 !important;
}
#link-details {
	position: fixed;
	left: 0;
}
#node-details {
	position: fixed;
	left: 0;
	top: 60px;	
	height: 100%;	
}
#name, #campus {
	border: 1px solid #ddd;
	padding: 5px;
	background-color: white;
	font-size: 1.5em;
}
.hidden {
	display: none
}
.alegrete {
	fill:#f0932b;
	background: #f0932b;
}
.uruguaiana {
	fill: #f368e0;
	background: #f368e0;
}
.bagé{
	fill: #0abde3;
	background: #0abde3;
}
.caçapava_do_sul {
	fill: #222f3e;
	background: #222f3e;
}
.dom_pedrito {
	fill: #341f97;
	background: #341f97;
}
.itaqui {
	fill: #44bd32;
	background: #44bd32;
}
.sao_borja{
	fill: #2f3640;
	background: #2f3640;
}
.sao_gabriel {
	fill: #8c7ae6;
	background: #8c7ae6;
}
.jaguarao {
	fill: #84817a;
	background: #84817a;
}
#researcher-resume {
	position: relative;
}
#researcher-resume{
	position: absolute;
	width: 100%;
	height: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: rgba(0,0,0,.9);
	overflow-y: hidden;
	color: white;
	font-size: 1.5em;
}
.badge {
	margin: 5px;
}
g {
	cursor: pointer;
}
text {
	fill: white;
	font-size: 6px;
	text-transform: uppercase;
	font-weight: bold;
}
#tooltip-text {
	background: #555;
	border-radius: 8px;
	color: white;
	position: absolute;
	width: auto;
	padding: 10px;
	top: 0;
	left: 0;
}
#caption {
	list-style-type: none;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
#caption li {
	display: inline;
	margin-right: 10px;
	border: 1px solid #000;
	padding: 5px;
}